<!--<nav>-->
<!--  {% for item in site.data.navigation %}-->
<!--    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>-->
<!--  {% endfor %}-->
<!--</nav>-->

<nav class="nav-menu">
  <ul>
    {% for item in site.data.navigation %}
<!--      <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>-->
      <li><a href="#{{ item.anchor }}"><i class="bx bx-{{ item.icon }}"></i> <span>{{ item.name | capitalize }}</span></a></li>
    {% endfor %}
<!--    <li><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>-->
<!--    <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>-->
<!--    <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>-->
<!--    <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>-->
<!--    <li><a href="#services"><i class="bx bx-server"></i> Services</a></li>-->
<!--    <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>-->
  </ul>
</nav><!-- .nav-menu -->